# Desativar a instalação de pacotes problemáticos
ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=false
# Desativar a instalação de pacotes específicos
public-hoist-pattern[]=!*use-intl*
public-hoist-pattern[]=!*next-intl*
